<h1>Register.</h1>
<h4>Create a new account.</h4>
<hr>

<form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
  <div>
    <div>
        <input placeholder="Email" formControlName="email" type="email" required/>
    </div>
    <div>
        <input placeholder="Password" formControlName="password" type="password" required/>
    </div>
    <div>
        <input placeholder="Confirm Password" formControlName="confirmPassword" type="password" required/>
    </div>
  </div>
  <button class="nav-btn" color="primary" type="submit">Register</button>
</form>