<header class="container" id="SITE_HEADER">
  
  <!--Image Container-->
  <div class="pitch-image-container">
    <img src="https://static.wixstatic.com/media/12e014_b976eabfafe346a39b4b5b17c97e1b1c%7Emv2.jpg_srz_380_152_85_22_0.50_1.20_0.00_jpg_srz" alt="" title="PitchFeast logo.jpg" itemprop="contentURL" id="pitch-image">
  


  <!-- <div id="WRchTxt2-14oo" class="Text">
    <h1 style="font-size: 24px;" class="font_0">
      <a href="https://www.pitchfeast.org/" target="_self">
        <span class="color_4"><span style="font-size:24px;"><strong>®</strong></span></span></a></h1>
   -->

  <!--Nav-->
  <nav>
    <ul id="dropdown" class="menu">
      <li class="menuItem">
        <a id="home-text" href="https://www.pitchfeast.org/" target="_self" title="Home" class="menuItemHref">Home</a>
      </li>
      <li class="menuItem">
        <a id="about-text" href="https://www.pitchfeast.org/about" target="_self" title="About" class="menuItemHref">About</a>
      </li>
      <li class="menuItem">
        <a id="partners-text" href="https://www.pitchfeast.org/our-partners" target="_self" title="Our Partners" class="menuItemHref">Our Partners</a>
      </li>
      <li class="menuItem">
         <a id="pl11ne" href="https://www.pitchfeast.org/our-programs" target="_self" title="Our Programs" class="menuItemHref">Our Programs</a>
      </li>
      <li class="menuItem">
        <a id="dataItem-j4kepysk1" href="https://www.pitchfeast.org/blog" target="_self" title="Blog" class="menuItemHref">Blog</a>
      </li>
    </ul>
  </nav>
  </div>
  </header>
  <div id="TEXT" class="Text">
    <p id="text1">We are&nbsp;a&nbsp;Micro-Enterprise Development Organization (MDO) and 501(c)(3).</p>
   <p id="text2">Our mission is to cultivate the creative potential of people in order to generate</p>
   <p id="text3">social, cultural, and economic development in the urban core.</p>
    </div>
    <!-- placeholder for component of data type=None -->
    <div class="lb1" id="LnkBr4-rgc"> 
      <ul aria-label="Social bar" id="LnkBr4-rgcitemsContainer" class="lb1itemsContainer"><li class="lb1imageItem" id="LnkBr4-rgc0image" style="width: 53px; height: 53px; margin-bottom: 0px; margin-right: 5px; display: inline-block;">
        <a href="https://twitter.com/PitchFeast" target="_blank" data-content="https://twitter.com/PitchFeast" data-type="external" id="LnkBr4-rgc0imagelink" class="lb1imageItemlink">
        <div data-style="position:absolute" class="lb1imageItemimage" id="LnkBr4-rgc0imageimage" style="position: absolute; width: 53px; height: 53px;"><div class="lb1imageItemimagepreloader" id="LnkBr4-rgc0imageimagepreloader"></div>
        <img id="LnkBr4-rgc0imageimageimage" alt="Twitter Social Icon" data-type="image" src="https://static.wixstatic.com/media/9c4b521dd2404cd5a05ed6115f3a0dc8.png/v1/fill/w_53,h_53,al_c,usm_0.66_1.00_0.01/9c4b521dd2404cd5a05ed6115f3a0dc8.png" style="width: 53px; height: 53px; object-fit: cover;"></div></a></li>
        <li class="lb1imageItem" id="LnkBr4-rgc1image" style="width: 53px; height: 53px; margin-bottom: 0px; margin-right: 5px; display: inline-block;">
          <a href="https://www.instagram.com/PitchFeastIndy/" target="_blank" data-content="https://www.instagram.com/PitchFeastIndy/" data-type="external" id="LnkBr4-rgc1imagelink"class="lb1imageItemlink"></a></li>
  <div data-style="position:absolute" class="lb1imageItemimage" id="LnkBr4-rgc1imageimage" style="position: absolute; width: 53px; height: 53px;"><div class="lb1imageItemimagepreloader" id="LnkBr4-rgc1imageimagepreloader"></div>
          <img id="LnkBr4-rgc1imageimageimage" alt="Instagram Social Icon" data-type="image" src= " https://static.wixstatic.com/media/fb5d18fdfff64a56a7e136d2016a1b7b.png/v1/fill/w_53,h_53,al_c,usm_0.66_1.00_0.01/fb5d18fdfff64a56a7e136d2016a1b7b.png"     
         style="width: 53px; height: 53px; object-fit: cover;">
          <li class="lb1imageItem" id="LnkBr4-rgc2image" style="width: 53px; height: 53px; margin-bottom: 0px; margin-right: 5px; display: inline-block;">
            <a href="https://www.facebook.com/PitchFeast/" target="_blank" data-content="https://www.facebook.com/PitchFeast/" data-type="external" id="LnkBr4-rgc2imagelink" class="lb1imageItemlink"></a>
            <div data-style="position:absolute" class="lb1imageItemimage" id="LnkBr4-rgc2imageimage" style="position: absolute; width: 53px; height: 53px;"><div class="lb1imageItemimagepreloader" id="LnkBr4-rgc2imageimagepreloader"></div>
            <img id="LnkBr4-rgc0imageimageimage" alt="Wix Facebook page" data-type="image" src=  "https://static.wixstatic.com/media/b1cd13f9d4dfb1450bbb325285106177.png/v1/fill/w_53,h_53,al_c,usm_0.66_1.00_0.01/b1cd13f9d4dfb1450bbb325285106177.png"      
           style="width: 53px; height: 53px; object-fit: cover;">
           </div>
          