<header class="container" id="SITE_HEADER">
  <div class="pitch-image-container">
    <img src="https://static.wixstatic.com/media/12e014_b976eabfafe346a39b4b5b17c97e1b1c%7Emv2.jpg_srz_380_152_85_22_0.50_1.20_0.00_jpg_srz" alt="" title="PitchFeast logo.jpg" itemprop="contentURL" id="pitch-image">
  </div>
  <div id="WRchTxt2-14oo" class="Text">
    <h1 style="font-size: 24px;" class="font_0"><a href="https://www.pitchfeast.org/" target="_self"><span class="color_4"><span style="font-size:24px;"><strong>®</strong></span></span></a></h1>
  </div>
  <nav>
    <ul id="DrpDwnMn0" class="menu">
      <li class="menuItem">
        <a id="plyy6" href="https://www.pitchfeast.org/" target="_self" title="Home" class="menuItemHref">Home</a>
      </li>
      <li class="menuItem">
        <a id="plnac" href="https://www.pitchfeast.org/about" target="_self" title="About" class="menuItemHref">About</a>
      </li>
      <li class="menuItem">
        <a id="plos2" href="https://www.pitchfeast.org/our-partners" target="_self" title="Our Partners" class="menuItemHref">Our Partners</a>
      </li>
      <li class="menuItem">
          <a id="pl11ne" href="https://www.pitchfeast.org/our-programs" target="_self" title="Our Programs" class="menuItemHref">Our Programs</a>
        <ul class="subMenu">            
          <li class="menuItem">
            <a id="pl1oel" href="https://www.pitchfeast.org/pitchfeast" target="_self" title="PitchFeast" class="menuItemHref">PitchFeast</a>
          </li>
          <li class="menuItem">
            <a id="pl10oa" href="https://www.pitchfeast.org/entrepreneur-resources" target="_self" title="Entrepreneur Resources" class="menuItemHref">Entrepreneur Resources</a>
          </li>
        </ul>
      </li>
      <li class="menuItem">
        <a id="dataItem-j4kepysk1" href="https://www.pitchfeast.org/blog" target="_self" title="Blog" class="menuItemHref">Blog</a>
      </li>
  </ul>
</nav>

  <div id="SITE_STRUCTURE_WRichText_0" class="Text">
    <h1 class="font_0" style="font-size: 18px; text-align: center;"><a href="https://www.pitchfeast.org/" target="_self"><span class="color_10"><span style="font-size:18px">We are&nbsp;a&nbsp;Micro-Enterprise Development Organization (MDO) and 501(c)(3). </span></span></a></h1>
    <h1 class="font_0" style="font-size: 18px; text-align: center;"><span class="color_23"><a href="https://www.pitchfeast.org/" target="_self"><span style="font-size:18px">Our mission is to cultivate the creative potential of people in order to generate social, cultural, and economic development in the urban core.&nbsp;</span></a></span></h1>
  </div>
  <span id="FvGrdLn0-q00">
    <!-- placeholder for component of data type=None -->
  </span>
</header>