/* .pitch-image-container {
    left: 11px;
    position: absolute;
    top: 10px;
    width: 500px;
    height: 152px;
}
*/

#pitch-image {
    width: 500px;
    height: 180px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 320px;

}

 /*
#pitch-image {
    width: 380px;
    height: 152px;
    object-fit: cover;
}  */

/* 
.hc3_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
div {
    display: block;
}
body {
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}*/

/* .menuItemHref{
    position:absolute;
    right:11px;

} */


.menu{
    
    position: absolute;
    top:54px;
    width: 602px;
    height: 66px;
    left: 750px;

} 

.menuItem { 
    list-style: none;
    line-break: normal;
    float: right;
    position: relative;
    top:0.1px;
    width:100px;
padding:9px; 
margin-bottom: 100px;
box-sizing: border-box;
overflow: visible;



}

#TEXT {

    font-size: 23px;
    position: relative;
    text-align: center;
    top:0.1px;
    padding: 0.1px;
    line-height: 1ch;
    left:0.1px;
    
}

#text2 {
    color:red;

}

#text3{
    color:red;
}

.image1{
    width: 53px;
    height: 53px;
    object-fit: cover;


}


.lb1{
    width:169px;
    left:811px;
    position: absolute;
    top:162px;
    height:53px;

}

.lb1imageItem{
    width:53px;
    height: 53px;
    margin-bottom: 0px;
    margin-right: 5px;
    display: inline-block;
}

